body{
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
}

#back{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
}

#con{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    text-align:center; 
    color: white;
    background: ;
    
}

#con #end{
    margin-top: 10%;
}

#con ul a{
    text-decoration: none;
    font-size: 18px;
    color:turquoise;
}

#con ul a:hover{
    text-decoration: none;
    font-size: 20px;
    color:turquoise;
    transition: all .2s ease-in-out;
}
