#body{
    border-color: white;
}

#calendar{
    font-family: sans-serif;
    padding: 12px;
}

#calendar h2{
    font-size: 20px;
}

#calendar h3{
    font-size: 24px;
}

#calendar p{
    font-size: 20px;
    margin-right: 16px;
}

#calendar a{
    font-size: 18px;
    margin-right: 16px;
    text-decoration: none;
    color:teal;
}

#calendar a:hover{
    text-decoration: none;
    font-size: 23px;
    color:#50b4b4;
    transition: all .2s ease-in-out;
}