body{
    margin: 0;
    background: #1a1a1a;
    overflow-x: hidden;
    overflow-y: auto;
}

#con{
    padding-left: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    text-align:left; 
    color: white;
    background: ;
}

#con #end{
    
    margin-top: 20px;
    margin-left: 38px;
}

#con #end a{
    font-size: 20px;
}

#con ul a{
    text-decoration: none;
    font-size: 18px;
    color:turquoise;
}

#con ul h1{
    font-size: 20px;
}

#con ul a:hover{
    text-decoration: none;
    font-size: 20px;
    color:turquoise;
    transition: all .2s ease-in-out;
}
