body{
    margin: 0;
    overflow-x: hidden;
}

#con {
    background:white; 
    width: 100%;
    height: 800px;
    float: left;
    font-size: 32px;
    margin: 0;
    
}


@font-face{
     font-family: 'SystemFont_Header';
     src: url('../fonts/Karla-Regular.ttf') format('truetype');
}


#con #homepage{
    height:auto;
    width: 100%;
    margin-bottom: 16px;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.1);
    background:  linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 2, 1)
    )

}

#con #homepage #background img{
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
    opacity: 0.5;
}

#con #homepage #foreground{
    padding: 32px;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
}

#slideshow_div{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.slideshow_holder{
    height: 100%;   
}

.slideshow_holder .slideshow{
    height: 100%;
    width: auto;
    animation:fading 3s;
    
}

.button_slide_div{
    cursor: pointer;
    background: grey;
    opacity: 0.5;
    width:50%;
    height: 100%;
    float: left;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 3;
}

.button_slide_div .btn-floating{
    vertical-align: middle;
    cursor: pointer;
}

#btnFull_div{
    position: relative;
    text-align: center;
    width: 100%;
    height: 20px;
    padding: 30px;
}

#btnFull:hover{
    
    border-radius: 50px;    
    height: 30px;
    transition: all .3s ease-out
}

#btnFull_div #btnFull{
    margin: 10px;
    background: darkgrey;
    padding: 20px;
    color: white;
    transition: all .3s ease-out
}


#con #homepage #foreground a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    z-index: 3;
}


#bottom{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 20px;
    background: darkgrey;
    margin-left: 25%;
    float: right;
    clear: both;
    border-radius: 10px;    
    transition: all .3s ease-out
}


#bottom:hover{
    margin: 15px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 100px;    
    transition: all .3s ease-in;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.1);
}

/*#row{
    margin: 10px;
}*/

#bottom a{
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    color: white;
}

#con #container{
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: auto;
    float:  left;
    background-color: white;
    font-family:'SystemFont_Header';
}

#con #container p{
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
}


#con #container ul{
    text-align: center;
    list-style: none;
    font-size: 18px;
}

#con #container #author{
    font-size: 22px;
}

#con #container #ref{
    margin-left: 16px;
    text-decoration: none;
    font-size: 18px;
}

#con #container ul li img{
    width: 40%;
    height: auto;
}

item{
    margin: 10px;
}

@-webkit-keyframes fading{
    0%{
        opacity:0
    }
    20%{
        opacity:1
    }
}

@keyframes fading{
    0%{
        opacity:0
    }20%{
        opacity:1
    }
}

.fade {
  opacity: 1;
}
