body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

#con {
    background:#ededed; 
    width: 100%;
    height: 800px;
    float: left;
    font-size: 32px;
    margin: 0;

}


@font-face{
    font-family: 'SystemFont_Header';
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
}


#con #homepage{
    width: auto;
    height:100%;
    clear: both;
    margin-bottom: 16px;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.1);
}

#con #homepage #background{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

#con #homepage #foreground img{
    width: 50%;
    height: auto;
    z-index: 3;
    position: absolute;
}


#bottom{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 20px;
    background: darkgrey;
    margin-left: 25%;
    float: right;
    clear: both;
    border-radius: 10px;    
    transition: all .3s ease-out
}

#row{
    padding-left: 10px;
}

#bottom:hover{
    margin: 15px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 100px;    
    transition: all .3s ease-in;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.1);
}

/*#row{
margin: 10px;
}*/

#bottom a{
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    color: white;
}

#con #container{
    border-radius: 5px;
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: auto;
    float:  left;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}

#con #container:hover{
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    transition: all .3s ease-in-out;
}

#container:not(:nth-child(1)){
    float:left;
    margin-left: 20px;
}


#con #container #info{
    display: none;
    margin:16px;
    z-index: -1;
    position: absolute;
}

@media screen and (min-width: 2000px) {
    
    #con #container{
        height: 500px;
        width: auto;
        max-width: 100%;
        max-height: auto;
        float:  left;
        margin: 20px;
        background-color: white;        
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 16px;
    }



}

#con #container #info h2{
    -webkit-animation:fading 3s;
    animation:fading 3s;
    color: black;
    font-family: sans-serif;
    min-width: 20%;
    text-align: left;
    font-size: 18px;
    min-height: auto;
    width: auto;
}

#con #container #info a{
    cursor: pointer;
    -webkit-animation:fading 3s;
    animation:fading 3s;
    padding: 12px;
    border-radius: 20px;
    background:teal;
    text-decoration: none;
    color:white;
    font-family: 'SystemFont_Header';
    text-align: left;
    font-size: 16px;
    transition: all .4s ease-in-out;
}

#con #container #info a:hover{
    background: #009292;
    color: snow;
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
}

#con #container #info p{
    display: inline-block;
    -webkit-animation:fading 3s;
    animation:fading 3s;
    margin-bottom: 16px; 
    text-decoration: none;
    color: #101820;
    font-family: sans-serif;
    text-align:left;
    font-size: 18px;
    width: 25%;
    height: 100%;
}

#con #container img{
    border-radius: 2px;
    max-width: 100%;
    max-height: auto;
    min-width: 20%;
    min-height: auto;
    width: auto;
    height: 100%;
    transition: all .3s ease-in-out;
}

#con #container:hover img{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.5;
    transition: all .1s ease-in-out;
}

#con #container:hover #info{
    display: inline-block;
    z-index: 2; 
    transition: all .2s ease-in-out;
}




@-webkit-keyframes fading{
    0%{
        opacity:0
    }
    20%{
        opacity:1
    }
}

@keyframes fading{
    0%{
        opacity:0
    }20%{
        opacity:1
    }
}

.fade {
    opacity: 1;
}
