body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

#con {
    background:#ededed;
    width: 100%;
    height: 800px;
    float: left;
    font-size: 32px;
    margin: 0;
}

@font-face{
     font-family: 'SystemFont_Header';
     src: url('../fonts/Karla-Regular.ttf') format('truetype');
}

#con #homepage{
    width: auto;
    height: auto;
    clear: both;
    margin-bottom: 32px;
    margin-top: 32px;
}

#con #homepage #foreground img{
    width: 50%;
    height: auto;
    z-index: 3;
}

#con #homepage #foreground a{
    width: 50%;
    height: auto;
    z-index: 3;
    margin: 24px;
    color: black;
    text-decoration: none;
    font-family: 'SystemFont_Header';
    font-size: 72px;
}


#bottom{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 20px;
    background: darkgrey;
    margin-left: 25%;
    float: right;
    clear: both;
    border-radius: 10px;
    transition: all .3s ease-out
}

#row{
    padding-left: 10px;
}

#bottom:hover{
    margin: 15px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 100px;
    transition: all .3s ease-in;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.1);
}

/*#row{
    margin: 10px;
}*/

#bottom a{
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    color: white;
}

#con #container{
    height: 350px;
    width: 350px;
    max-width: 100%;
    max-height: auto;
    float:  left;
    margin: 5px;
    background-color: white;
    padding: 16px;
}

#con #container:hover{
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

#container:not(:nth-child(1)){
  float:left;
  margin-left: 20px;
}

#con #container #info{
    display: none;
    z-index: -1;
    position: absolute;
    padding-top: 120px;
}

#con #container #info a{
    cursor: pointer;
    -webkit-animation:fading 3s;
    animation:fading 3s;
    text-decoration: none;
    color:white;
    font-family: 'SystemFont_Header';
    font-size: 48px;
    transition: all .4s ease-in-out;
    text-align: center;
    padding: 32px;
}

#con #container #info a:hover{
    color: snow;
    font-size: 50px;
    transition: all .4s ease-in-out;
}

#con #container img{
    max-width: 100%;
    max-height: auto;
    min-width: 20%;
    min-height: auto;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

#con #container:hover img{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.5;
    transition: all .1s ease-in-out;
}

#con #container:hover #info{
    display: block;
    z-index: 2;
    transition: all .2s ease-in-out;
}




@-webkit-keyframes fading{
    0%{
        opacity:0
    }
    20%{
        opacity:1
    }
}

@keyframes fading{
    0%{
        opacity:0
    }20%{
        opacity:1
    }
}

.fade {
  opacity: 1;
}
