body{
    margin: 0;
    overflow: hidden;
    background-color:#1a1a1a;
}

img{
    height: 100%;
    width: 100%;
}
/* Slideshow container */


.slideshow-container {
  height: 100%;
  width: auto;
  position: relative;
  margin: auto;
}


/* Fading animation */

.animate{
    -webkit-animation:fading 8s infinite;
    animation:fading 8s infinite
}

@-webkit-keyframes fading{
    0%{
        opacity:0
    }
    90%{
        opacity:1
    }100%{
        opacity:0
    }
}

@keyframes fading{
    0%{
        opacity:0
    }90%{
        opacity:1
    }100%{
        opacity:0
    }
}

