body{    
    overflow: hidden;
    background:#1a1a1a;
    margin: 0;
}
                
@font-face{
     font-family: 'SystemFont_Header';
     src: url('../fonts/Karla-Regular.ttf')  format('truetype');
}


#header{
    background-color: white;
    width: 100%;
    height: 12%;
}

#header #header_logo img{
    width: auto;
    height: 100%;
}            
                
#nav{
    width: 2.3%;
    height: 80%;
    background-color:#404040;
    opacity: 0.99;
    float: left;
    transition: all .3s ease-out;
    z-index: 3;
    position: fixed;
}


/*
#nav:hover{
    width: 15%;
    transition: all .3s ease-in;
}


#nav:hover #navholder a{
    -webkit-animation:fading .5s;
    animation:fading .5s;
    opacity: 1;
}
*/

#nav #listholder{
    display: none;
}

#navholder{
    float: left;
    width: 94%;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16pxl
}

#navholder:hover{
    color: white;
    background-color: #6e6e6e;
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}


#nav #navholder a{
    cursor: pointer;
    -webkit-animation:fading .5s;
    animation:fading .5s;
    text-align: center
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: darkgrey;
    font-family: 'SystemFont_Header';
}

#nav img{
    float: right;
    transition: all .3s ease-in-out;
}

#nav #navholder:hover a{
    color: white;
    font-size: 24px;
    transition: all .3s ease-in-out;
}

                
#con {
    background:#f2f2f2;
    width: 97.7%;
    margin-left: 2.3%;
    height: 80%;
    float: right;
    transition: all .3s ease-in-out;
}

/*#nav:hover +#con{
    width: 85%;
    transition: all .3s ease-in-out;
}*/

#footer {
    position: relative;
    width: 100%;
    height: 8%;
    background-color: 282829;
    clear: both;
}

#footer a{
    margin:16px;
    float: left;
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

#footer img{
    height:100%;
    width:auto; 
    float:left;
    float: left;
}

#con iframe{
    border: none;
}


@-webkit-keyframes fading{
    0%{
        display: none;
    }
    100%{
        display: block;
    }
}

@keyframes fading{
    0%{
        display: none;
    }100%{
        display: block;
    }
}
                
